<h2>New Definition</h2>

<form action="new_definition" method="post">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input type="text" name="definition" id="definition" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Submit New Definition</button>
</form>
