<h2>Success! You entered a new definition for <%= @word.word %> </h2>

<a href="/word_list/<%= @contact.id %>">View definition for <%= @word.word %></a>
<br>
<a href="/word_form">Create New Word</a>
<br>
<a href="/word_list">View Word List</a>
