<h2>Success! You entered a new definition for <%= @word.word %> </h2>

<h3><a href="/word_list/<%= @word.id %>">View definition for <%= @word.word %></a></h3>
<br>
<h3><a href="/word_form">Create New Word</a> | <a href="/word_list">View Word List</a></h3>
