<h2>New Word</h2>

<form action="new_word" method="post">
  <div class="form-group">
    <label for="word">Word</label>
    <input type="text" name="word" id="word" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Submit New Word</button>
</form>
