<h3>Word definitions for <%= @word.word() %> </h3>
<br>
<h4>Definition:</h4>
<ul>
<% @word.definitions.each do |definition| %>
<li><%= @new_definition.definition() %></li>
<% end %>
</ul>

<br>
<a href="/word_list/<%= @word.id() %>/definition_form">Add a definition</a>
<br>
<a href="/word_list">Return to Word List</a>
