<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Word Definitions for <%= @word.word() %> </h3>
  </div>
  <div class="panel-body">
    <ol>
    <% @word.definitions().each() do |definition| %>
    <li><%= definition.definition() %></li>
    <% end %>
    </ol>
  </div>
</div>

<h4><a href="/word_list/<%= @word.id() %>/definition_form">Add Definition</a> | <a href="/word_list">Return to Word List</a></h4>
